[tool.poetry]
name = "powerschool-sync"
version = "0.1.0"
description = ""
authors = ["Charlie Bini <cbini87@gmail.com>"]

[tool.poetry.dependencies]
python = "^3.9"
python-dotenv = "^0.19.0"
google-cloud-storage = "^1.42.2"
powerschool = "^2.0.2"

[tool.poetry.dev-dependencies]
pytest = "^5.2"
black = "^21.9b0"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
